<header class="header">
      <h1>To-do List</h1>

      <h2 class="link">Um projeto desenvolvido por Jackson S. Maciel 
            <a href="https://github.com/JacksonSM" target="_blank">
                  <img src="../../../assets/icons/icons8-github.svg" alt="logo do github">
            </a>
            <a href="https://www.linkedin.com/in/jacksonsmaciel/" target="_blank">
                  <img src="../../../assets/icons/icons8-linkedin.svg" alt="logo do linkedin">
            </a>
      </h2>
</header>